In [6]:
import pandas as pd
import os
# Code here
cwd = os.getcwd()
datadir = cwd + '/data/'
f_people = datadir + 'people.csv'
f_act_train=datadir+'act_train.csv'
df_people = pd.read_csv(f_people, sep = ',')
df_act_train = pd.read_csv(f_act_train,sep=',')
df_people.columns, df_act_train.columns

(Index(['people_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3', 'char_4',
        'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11',
        'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17',
        'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23',
        'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29',
        'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35',
        'char_36', 'char_37', 'char_38'],
       dtype='object'),
 Index(['people_id', 'activity_id', 'date', 'activity_category', 'char_1',
        'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8',
        'char_9', 'char_10', 'outcome'],
       dtype='object'))

In [7]:
df_people.head(10),df_act_train.head(10)

(    people_id  char_1      group_1  char_2        date   char_3   char_4  \
 0     ppl_100  type 2  group 17304  type 2  2021-06-29   type 5   type 5
 1  ppl_100002  type 2   group 8688  type 3  2021-01-06  type 28   type 9
 2  ppl_100003  type 2  group 33592  type 3  2022-06-10   type 4   type 8
 3  ppl_100004  type 2  group 22593  type 3  2022-07-20  type 40  type 25
 4  ppl_100006  type 2   group 6534  type 3  2022-07-27  type 40  type 25
 5   ppl_10001  type 2  group 25417  type 3  2022-10-14   type 6   type 6
 6  ppl_100010  type 2  group 17304  type 2  2022-09-01   type 8   type 7
 7  ppl_100013  type 2   group 4204  type 3  2023-01-24   type 4   type 8
 8  ppl_100019  type 2  group 45749  type 3  2023-03-26  type 40  type 25
 9  ppl_100025  type 2  group 36096  type 3  2022-08-26  type 14   type 6

    char_5  char_6   char_7   ...   char_29 char_30 char_31 char_32 char_33  \
 0  type 5  type 3  type 11   ...     False    True    True   False   False
 1  type 5  type 3  type 11   ...     False    True    True    True    True
 2  type 5  type 2   type 5   ...     False   False    True    True    True
 3  type 9  type 4  type 16   ...      True    True    True    True    True
 4  type 9  type 3   type 8   ...     False   False    True   False   False
 5  type 4  type 1   type 1   ...     False    True    True    True    True
 6  type 8  type 1   type 7   ...     False   False   False   False   False
 7  type 4  type 1   type 7   ...     False   False    True    True    True
 8  type 9  type 3   type 9   ...     False   False   False   False   False
 9  type 8  type 3   type 9   ...     False   False   False   False   False

   char_34 char_35 char_36 char_37 char_38
 0    True    True    True   False      36
 1    True    True    True   False      76
 2    True   False    True    True      99
 3    True    True    True    True      76
 4   False    True    True   False      84
 5    True    True    True    True      90
 6   False   False   False   False       2
 7    True   False    True    True      91
 8   False   False   False   False      84
 9   False   False   False   False      76

 [10 rows x 41 columns],
     people_id   activity_id        date activity_category char_1 char_2  \
 0     ppl_100  act2_1734928  2023-08-26            type 4    NaN    NaN
 1     ppl_100  act2_2434093  2022-09-27            type 2    NaN    NaN
 2     ppl_100  act2_3404049  2022-09-27            type 2    NaN    NaN
 3     ppl_100  act2_3651215  2023-08-04            type 2    NaN    NaN
 4     ppl_100  act2_4109017  2023-08-26            type 2    NaN    NaN
 5     ppl_100   act2_898576  2023-08-04            type 4    NaN    NaN
 6  ppl_100002  act2_1233489  2022-11-23            type 2    NaN    NaN
 7  ppl_100002  act2_1623405  2022-11-23            type 2    NaN    NaN
 8  ppl_100003  act2_1111598  2023-02-07            type 2    NaN    NaN
 9  ppl_100003  act2_1177453  2023-06-28            type 2    NaN    NaN

   char_3 char_4 char_5 char_6 char_7 char_8 char_9    char_10  outcome
 0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    type 76        0
 1    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        0
 2    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        0
 3    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        0
 4    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        0
 5    NaN    NaN    NaN    NaN    NaN    NaN    NaN  type 1727        0
 6    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        1
 7    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        1
 8    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        1
 9    NaN    NaN    NaN    NaN    NaN    NaN    NaN     type 1        1  )

In [10]:
df_people[:].describe()

             char_38
count  189118.000000
mean       50.327399
std        35.752127
min         0.000000
25%        10.000000
50%        58.000000
75%        83.000000
max       100.000000